* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #fff;
}

/* FIXED WIDTH */
.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

/* HEADER */
.header {
  background:  rgb(82, 4, 85);
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav span {
  color: rgb(223, 170, 224) ;
}

.nav ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

.nav ul a{
  text-decoration:none ;
  color: #fff;
}

.nav ul a:hover{
  color:  rgb(223, 170, 224) ;
  font-size: large;
  font-weight: 200;
}
/* HERO */
.hero {
  background:  url(./images/bg.jpg) center/cover no-repeat;
  min-height: 90vh;
  margin-top: 60px;
  display: flex;
  align-items: center;
  animation: fadeIn 1.5s ease;
}

.hero-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero-text .hp {
  padding-top: 25px ;
  padding-bottom: 25px;
}
.hero-text {
  width: 50%;
  color: white;
  animation: slideLeft 1.2s ease;
}

.hero-text h1 span {
  color:  rgb(223, 170, 224);

}

.hero-img {
  width: 40%;
  animation: floatImage 3s ease-in-out infinite;
}

.hero-img img {
  width: 100%;
}

.buttons {
  margin-top: 20px;
}
button {
  padding: 12px 25px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.btn-outline {
  background: transparent;
  border: 2px solid  rgb(223, 170, 224);
  color:  rgb(223, 170, 224);
}

.btn-fill {
  background:  white;
  border: none;
  color: rgb(82, 4, 85);
}

/* ABOUT */
.about {
  padding: 80px 0;
  border-bottom: 1px solid #777;
}

.about-content {
  display: flex;
  align-items: center;
  gap: 50px;
}

.about-heading {
  text-align: center;
  margin-bottom: 50px;
}

.about-heading h2 {
  font-size: 36px;
}

.about-heading span {
  color: rgb(223, 170, 224);
}

.about-heading p {
  color: #777;
  margin-top: 10px;
}


.about-img img {
  width: 80%;
  animation: floatImage 3s ease-in-out infinite;
}
.feature {
  margin-top: 10px;
}

.feature h1{
  font-size: 18px;
  color:  rgb(82, 4, 85) ;
  padding: 15px 0px;
}

.feature p{
  font-size: 14px;
  color: #aaa ;
}

/* About 2 */

.about2 {
  padding: 80px 0;
  border-bottom: 1px solid #777;
}


.about2-text{
 width: 50%;
}

.btn-outline2{
 background: transparent;
  border: 2px solid   rgb(82, 4, 85);
  color:   rgb(82, 4, 85);
}

.btn-fill2 {
  background: rgb(82, 4, 85);
  color: rgb(223, 170, 224) ;
  border: none;
}
.about2-img img {
  margin-left: 80px;
  width: 80%;
  animation: floatImage 3s ease-in-out infinite;
}

.feature2 {
  margin-top: 10px;
}

.feature2 h1{
  font-size: 36px;
  color:  rgb(82, 4, 85) ;
  padding: 15px 0px;
  margin-bottom: 10px;
}

.feature2 p{
  font-size: 14px;
  color: #aaa ;
}

/* ANIMATIONS */
@keyframes floatImage {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}



/* RESPONSIVE */
@media (max-width: 900px) {
  .hero-content,
  .about-content {
    flex-direction: column;
    text-align: center;
  }

  .hero-text,
  .hero-img {
    width: 100%;
  }

  .nav ul {
    display: none;
  }
}
